.DS_Store
.dart_tool/

.packages
.pub/
.idea/
.vscode/

flutter_export_environment.sh

.flutter-plugins-dependencies

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
